@use "../styles/vars.scss";

.page {
    max-width: vars.$medium;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    @media (max-width: vars.$medium) {
        padding: 0 15px;
    }

}