@import "../styles/vars";

section.user {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr;
    column-gap: 50px;

    @media (max-width: $medium) {
        grid-template-columns: [first] 1fr;
        padding: 0 15px;
    }

    .span-row {
        grid-column: 1 / -1;

    }

    p.span-row {
        margin-bottom: 25px;
    }

    h3.title {
        margin: 20px 0 10px 0;
    }

    .sds--card {
        margin-bottom: 40px;
    }

    .roles-search {
        display: flex;
        align-items: center;
        padding: 0 0 20px 0;
        min-height: 40px;
        justify-content: space-between;

        @media (max-width: $medium) {
            flex-direction: column;
            align-items: normal;
        }

        .search {
            position: relative;
            display: flex;
            margin-left: auto;

            @media (max-width: $medium) {
                margin-left: 0;
                margin-top: 20px;

                .sds--text-field, .sds--text-field--shape {
                    width: 100%;
                }
            }

            input[type=search] {
                flex-grow: 2;
                min-width: 360px;

                @media (max-width: $medium) {
                    min-width: 0;
                }
            }

            .sds--text-field--icon svg {
                width: calc(15em / 16);
                height: calc(15em / 16)
            }

        }

    }

    .user-role {
        display: flex;

        img, svg {
            height: 56px;
            width: auto;
            margin-right: 35px;
            border-radius: $br;
        }
    }
}