services:
  mariadb:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: secret
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
  mailpit:
    image: axllent/mailpit:v1.27
    container_name: mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    environment:
      MP_UI_AUTH: "user:password"
      MP_MAX_MESSAGES: 5000
    restart: unless-stopped

volumes:
  mariadb_data:
