---
logging:
  level:
    root: WARN
    com.zaxxer.hikari: ERROR
    access: DEBUG
  threshold:
    console: WARN

server:
  port: 8888
  error:
    path: "/error"
    include-message: always
  forward-headers-strategy: framework
  servlet:
    session:
      cookie:
        secure: false

spring:
  main:
    banner-mode: "off"
  session:
    jdbc:
      initialize-schema: always
    store-type: jdbc
    timeout: 8h
  mvc:
    log-request-details: false
  security:
    oauth2:
      client:
        registration:
          oidcng:
            client-id: playground_client
            client-secret: secret
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: "authorization_code"
            scope: openid
        provider:
          oidcng:
            authorization-uri: "https://connect.test2.surfconext.nl/oidc/authorize"
            token-uri: "https://connect.test2.surfconext.nl/oidc/token"
            user-info-uri: "https://connect.test2.surfconext.nl/oidc/userinfo"
            jwk-set-uri: "https://connect.test2.surfconext.nl/oidc/certs"
            user-name-attribute: sub
            user-info-authentication-method: client_secret_basic
  jpa:
    properties:
      hibernate:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost/access
    username: access
    password: secret
  flyway:
    locations: classpath:db/{vendor}/migration
    fail-on-missing-locations: true
  mail:
    host: localhost
    port: 3025

crypto:
#  development-mode: True
#  private-key-location: classpath:nope
  development-mode: False
  private-key-location: classpath:/private_key_pkcs8.pem

cron:
  node-cron-job-responsible: true
  user-cleaner-expression: "0 0/30 * * * *"
  last-activity-duration-days: 1000
  role-expiration-notifier-expression: "0 0/30 * * * *"
  # Set to -1 to suppress role expiry notifications
  role-expiration-notifier-duration-days: 5
  metadata-resolver-initial-delay-milliseconds: 1
  metadata-resolver-fixed-rate-milliseconds: 86_400_000
  metadata-resolver-url: "classpath:/metadata/idps-metadata.xml"

oidcng:
  discovery-url: "https://connect.test2.surfconext.nl/oidc/.well-known/openid-configuration"
  introspect-url: "https://connect.test2.surfconext.nl/oidc/introspect"
  resource-server-id: myconext.rs
  resource-server-secret: secret
  base-url: http://localhost:8888

super-admin:
  users:
    - "urn:collab:person:example.com:admin"

institution-admin:
  entitlement: "urn:mace:surfnet.nl:surfnet.nl:sab:role:SURFconextverantwoordelijke"
  organization-guid-prefix: "urn:mace:surfnet.nl:surfnet.nl:sab:organizationGUID:"

gui:
  disclaimer:
    background-color: red
    content: LOCAL

config:
  client-url: "http://localhost:3000"
  welcome-url: "http://localhost:4000"
  server-url: "http://localhost:8888"
  server-welcome-url: "http://localhost:8888"
  eduid-entity-id: "https://login.test2.eduid.nl"
  role-search-required: False
  past-date-allowed: True
  eduid-idp-schac-home-organization: "test.eduid.nl"

voot:
  user: voot
  password: secret
  group_urn_domain: urn:mace:surf.nl:test.surfaccess.nl

teams:
  user: teams
  password: secret
  group-name-context: "urn:collab:group:test.surfteams.nl:"

attribute-aggregation:
  user: aa
  password: secret

lifecycle:
  user: lifecycle
  password: secret

email:
  from: "no-reply@surf.nl"
  contactEmail: "access@surf.nl"
  environment: "local"
  enabled: false

manage:
  enabled: True
  url: "https://manage.test2.surfconext.nl"
  user: invite
  password: secret
  local: False
#  local: True

springdoc:
  pathsToMatch: "/api/external/v1/**"
  api-docs:
    path: "/ui/api-docs"
  swagger-ui:
    path: "/ui/api-ui.html"
    operationsSorter: method
    oauth:
      client-id: ${spring.security.oauth2.client.registration.oidcng.client-id}
      client-secret: ${spring.security.oauth2.client.registration.oidcng.client-secret}
      use-basic-authentication-with-access-code-grant: true


management:
  health:
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: "health,info,mappings,metrics"
      base-path: "/internal"
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
    mappings:
      enabled: true
    metrics:
      enabled: true
  info:
    git:
      mode: full

# used by the git plugin
info:
  build:
    artifact: "@project.artifactId@"
    version: "@project.version@"
