@import "../styles/vars.scss";


div.mod-applications {

    table.applications {
        thead {
            th {
                &.logo {
                    width: 5%;
                }

                &.name {
                    width: 20%;
                }

                &.type {
                    width: 15%;
                }

                &.organization {
                    width: 20%;
                }

                &.roles {
                    width: 20%;
                }

                &.provisionings {
                    width: 20%;
                }
            }
        }

        tbody {
            td {
                a {
                    font-weight: normal;
                }

                &.logo {
                    img {
                        width: 40px;
                        height: auto;
                    }
                }
            }

            .unknown-in-manage {
                color: var(--sds--color--red--500);
                font-weight: 600;

                svg {
                    margin-left: 15px;
                }
            }
        }
    }
}