@use "../styles/mixins";

.mod-cron-container {
    background-color: white;

    .mod-cron {
        @include mixins.page;
        padding: 20px 0;

        .actions {
            display: flex;
            align-items: center;

            button {
                margin-left: auto;
            }

        }

        .cron-results ._2IvMF {
            background: white;
        }
    }
}