.mod-invitations {
    table.invitations {

        thead {
            th {
                &.check {
                    width: 40px;
                    text-align: center;
                }

                &.email {
                    width: 20%;
                }

                &.authority {
                    width: 16%;
                    text-align: center;
                }

                &.roles {
                    width: 20%;
                }

                &.status {
                    width: 8%;
                }

                &.createdAt {
                    width: 12%;
                }

                &.expiryDate {
                    width: 12%;
                }

                &.roleExpiryDate {
                    width: 12%;
                }
            }
        }

        tbody {
            td {
                &.check {
                    text-align: center;
                }

                &.enforceEmailEquality {
                    text-align: center;
                }

                &.eduIDOnly {
                    text-align: center;
                }

                &.authority {
                    text-align: center;
                }

            }
        }
    }

}
