@import "../styles/vars.scss";

div.mod-unknown-roles {
    background: white;
    table.unknown-roles {

        thead {
            th {
                &.applicationName {
                    width: 15%;
                }

                &.name {
                    width: 15%;
                }

                &.description {
                    width: 25%;
                }

                &.authority {
                    width: 20%;
                    text-align: center;
                }

                &.userRoleCount {
                    width: 15%;
                    text-align: center;
                }

            }
        }

        tbody {
            td.authority, td.defaultExpiryDays, td.userRoleCount {
                text-align: center;
            }

            .unknown-in-manage {
                color: var(--sds--color--red--500);
                font-weight: 600;
                svg {
                    margin-left: 15px;
                }
            }

        }
    }

}