@import "../styles/vars.scss";

div.mod-roles {

    .more-results-available {
        max-width: $medium;
        width: 100%;
        margin: 20px auto 0 auto;
    }

    .guest-only {

        max-width: $medium;
        width: 100%;
        margin: 25px auto 15px auto;

        @media (max-width: $medium) {
            padding: 0 15px;
        }
    }

    .institution-admin-welcome {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;

        @media (max-width: $medium) {
            padding: 0 15px;
        }

        svg {
            width: 240px;
            height: auto
        }

        img {
            width: 200px;
            height: auto
        }

        p {
            margin: 40px 0;
        }
    }

    table.roles {

        thead {
            th {
                &.applicationName {
                    width: 25%;
                }

                &.name {
                    width: 15%;
                }

                &.description {
                    width: 25%;
                }

                &.authority {
                    width: 15%;
                    text-align: center;
                }

                &.userRoleCount {
                    width: 10%;
                    text-align: center;
                }

            }
        }

        tbody {
            td.authority, td.defaultExpiryDays, td.userRoleCount {
                text-align: center;
            }

            .unknown-in-manage {
                color: var(--sds--color--red--500);
                font-weight: 600;
                svg {
                    margin-left: 15px;
                }
            }

        }
    }

}