@import "../styles/vars.scss";

div.mod-roles {

    .more-results-available {
        max-width: $medium;
        width: 100%;
        margin: 20px auto 0 auto;
    }

    .institution-admin-welcome {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;

        @media (max-width: $medium) {
            padding: 0 15px;
        }

        svg {
            width: 240px;
            height: auto
        }

        img {
            width: 200px;
            height: auto
        }

        p {
            margin: 40px 0;
        }
    }

    table.roles {

        thead {
            th {
                &.applicationName {
                    width: 15%;
                }

                &.name {
                    width: 15%;
                }

                &.description {
                    width: 25%;
                }

                &.authority {
                    width: 20%;
                    text-align: center;
                }

                &.userRoleCount {
                    width: 15%;
                    text-align: center;
                }

            }
        }

        tbody {
            td.authority, td.defaultExpiryDays, td.userRoleCount {
                text-align: center;
            }

        }
    }

}