@import "../styles/vars.scss";

div.mod-roles {

    table.roles {

        thead {
            th {
                &.name {
                    width: 15%;
                }

                &.description {
                    width: 25%;
                }

                &.authority {
                    width: 20%;
                    text-align: center;
                }

                &.endDate {
                    width: 15%;
                }

                &.landingPage {
                    width: 25%;
                }
            }
        }

        tbody {
            td.authority {
                text-align: center;

            }

        }
    }

}