@import "../styles/vars.scss";

div.mod-roles {

    table.roles {

        thead {
            th {
                &.name {
                    width: 15%;
                }

                &.description {
                    width: 30%;
                }

                &.authority {
                    width: 10%;
                }

                &.endDate {
                    width: 15%;
                }
                &.urn {
                    width: 30%;
                }
            }
        }
    }

}