.mod-users {
    position: relative;

    .mod-spinner-loading {
        position: absolute;
        top: -90px;
        right: 50%;
    }

    .more-results-available {
        text-align: center;
        margin: 0 auto;
        flex-grow: 2;
    }

    .image-container {
        display: flex;

        img {
            width: 320px;
            height: auto;
            margin: auto;
        }
    }

    table.users {

        thead {
            th {
                &.name {
                    width: 25%;
                }

                &.highestAuthority {
                    width: 20%;
                    text-align: center;
                }

                &.schac_home_organisation {
                    width: 20%;
                }

                &.sub {
                    width: 35%;
                }
            }
        }
        tbody {
            td.highestAuthority {
                text-align: center;
            }

        }

    }

}
