.mod-user-roles {

    .date-field-container {
        display: flex;
        position: relative;

        .date-field {
            margin-left: auto;
        }

        .no-end-date {
            position: absolute;
            z-index: 2;
            top: 10px;
            right: 127px;
            font-size: 14px;

            &.en {
                right: 157px;
            }
        }
    }

    table.userRoles {

        thead {
            th {
                &.check {
                    width: 40px;
                    text-align: center;
                }

                &.name {
                    width: 28%;
                }

                &.me {
                    width: 8%;
                }

                &.schacHomeOrganisation {
                    width: 10%;
                }

                &.authority {
                    width: 20%;
                    text-align: center;
                }

                &.createdAt {
                    width: 12%;
                }

                &.endDate {
                    width: 22%;
                    text-align: right;
                }
            }
        }

        tbody {
            td {
                &.authority {
                    text-align: center;
                }

                &.endDate {
                    text-align: right;
                }
            }


        }
    }

}
