.mod-user-roles {

    .date-field-container {
        display: flex;

        .date-field {
            margin-left: auto;
        }
    }

    table.userRoles {

        thead {
            th {
                &.check {
                    width: 40px;
                    text-align: center;
                }

                &.name {
                    width: 18%;
                }

                &.me {
                    width: 10%;
                }

                &.schacHomeOrganisation {
                    width: 12%;
                }

                &.authority {
                    width: 18%;
                    text-align: center;
                }

                &.createdAt {
                    width: 12%;
                }

                &.endDate {
                    width: 30%;
                    text-align: right;
                }
            }
        }

        tbody {
            td {
                &.authority {
                    text-align: center;
                }

                &.endDate {
                    text-align: right;
                }
            }


        }
    }

}
