.mod-users {
    position: relative;

    .mod-spinner-loading {
        position: absolute;
        top: -90px;
        right: 50%;
    }

    .more-results-available {
        text-align: center;
        margin: 0 auto;
        flex-grow: 2;
    }

    table.users {

        thead {
            th {
                &.name {
                    width: 25%;
                }

                &.highest_role {
                    width: 20%;
                }

                &.schac_home_organisation {
                    width: 20%;
                }

                &.sub {
                    width: 35%;
                }
            }
        }
    }

}
