.invite {
    display: flex;
    flex-direction: column;
}

.sds--modal.sds--backdrop {
    z-index: 99;
}

.react-datepicker-popper {
    z-index: 3 !important;
}

.container {
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
}

.menu {
    flex: 0 0 auto;
}
