@use "../styles/vars" as *;

.home {
    .mod-home-container {

        h1 {
            font-size: $title-size-xl;
            line-height: 1.2;
        }

        p.intro {
            margin-top: 12px;
            color: var(--foreground);
        }
    }
}
