.mod-home-container {
  > * {
    padding: 0 15px;
  }
}

.unit-header .image {

    svg path.right-eye {
        fill: #ffffff;
    }

    svg path.upper-tongue {
        fill: #f57900;
    }

    &.wink {
        transform: skewX(3deg);

        svg path.right-eye {
            fill: black;
        }

        svg path.upper-tongue {
            fill: #c00;
        }
    }
}
