@import "../styles/mixins";

.mod-invitation-form {
    .invitation-form {
        @include page;
        @include form;

        .email-field , .advanced-settings, .advanced-settings-container, .card-containers {
            grid-column-start: first;
        }

        .card-containers {
            margin-top: 25px;
            span.label {
                font-weight: 600;
                display: block;
                margin-bottom: 6px;
            }
        }

        a.advanced-settings {
            margin-top: 32px;
            display: flex;
            align-items: center;
            svg {
                width: 24px;
                height: auto;
                margin-left: 15px;
            }
        }

        .switch-container {
            display: flex;
            margin-top: 20px;
            align-items: center;


            .sds--tooltip-parent {
                margin-left: auto;
            }

            .inner-switch {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
            }

            .switch-label {
                font-weight: 600;
            }

        }

        .switch-info {
            font-size: 14px;
            color: var(--sds--color--gray--500);
        }


        .sds--radio-options {
            width: 380px;

            .sds--text-field-container div:last-child {
                margin-left: auto;
            }
        }
    }



}