@import "../styles/vars.scss";

.mod-profile {
    width: 100%;



    .profile-container {
        max-width: $medium;
        margin: 0 auto;

        @media (max-width: $medium) {
            padding: 0 15px;
        }
    }
}