@import "../styles/mixins";

.mod-role-form {
    .role-form {
        @include page;
        @include form;

        .section-separator {
            grid-column-start: first;
            margin-top: 30px;
        }

        .switch-field {
            grid-column-start: first;
        }
        .application-container {
            grid-column: 1/-1;
            display: flex;
            position: relative;

            @media (max-width: $medium) {
                flex-direction: column;
            }

            .select-field {
                width: 100%;

                @media (max-width: $medium) {
                    width: 100%;
                }

            }
            .select-field-container {
                display: flex;
                flex-direction: column;
                width: 47%;
            }

            .input-field-container {
                width: 47%;
                margin-left: 40px;

                .inner-input-field input {
                    min-height: 48px;
                    margin-top: -2px;
                }

                @media (max-width: $medium) {
                    width: 100%;
                    margin-left: 0;
                }
            }

            button {
                position: absolute;
                right: 0;
                top: 60px;

                @media (max-width: $medium) {
                    position: initial;
                    margin-left: 0;
                }
            }
        }

        .application-actions {
            grid-column-start: first;
            margin-top: 30px;

            button.sds--btn {
                max-width: 240px;
            }
        }

        span.label {
            grid-column-start: first;
            font-weight: 600;
            margin-top: 32px;
        }

    }

}