@import "../styles/vars.scss";

.mod-role {
    width: 100%;


    @media (max-width: $medium) {
        padding: 0 15px;
    }

    .urn-container {
        display: flex;
        align-items: center;

        span {
            margin-right: 6px;
        }

        .copy-to-clipboard {
            margin-top: 6px;
        }
    }
}