@import "../styles/mixins";

.mod-role-form {
    .role-form {
        @include page;
        @include form;

        .section-separator {
            grid-column-start: first;
            margin-top: 30px;
        }

        .radio-button-group {
            grid-column-start: first;
        }

        span.label {
            grid-column-start: first;
            font-weight: 600;
            margin-top: 32px;
        }
    }

}