@import "../styles/vars.scss";

.mod-tokens {
    width: 100%;


    .token-container {
        max-width: $max-width;
        margin: 0 auto;

        @media (max-width: $medium) {
            padding: 0 15px;
        }
    }
}