<div class="footer"
     style="text-align: center;padding: 20px 0 40px 60px;line-height: 24px;background-color: #f5f5f5;">
    <div class="links">
        <a class="external" href="https://support.surfconext.nl/invite"
           style="color: #636363;">What is SURFconext Invite?</a>
        <span> * </span>
        <a class="external" href="https://support.surfconext.nl/privacy"
           style="color: #636363;">Privacy Policy</a>
        <span> * </span>
        <a class="external" href="https://support.surfconext.nl/terms-en"
           style="color: #636363;">Terms of Use</a>
    </div>
    <div class="about">
        Powered by <a class="external"
                      href="https://surf.nl/en"
                      style="color: #636363;">SURF</a>
    </div>
</div>
