<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<div class="main" style="width:617px;margin: 0 auto;display:flex;flex-direction:column; padding:24px 32px;font-family:Helvetica, Arial, sans-serif;line-height: 150%;font-size: 18px;color: #000;">
    <div class="header">
        {{#institutionLogoUrl}}
            <img src="{{institutionLogoUrl}}" alt="logo" style="height: 48px;width: 48px;"/>
        {{/institutionLogoUrl}}
        {{#isInstitutionSurf}}
            <img src="https://static.surfconext.nl/logos/org/8017e83f-bca7-e911-90f2-0050569571ea.png" alt="logo" style="height: 48px;width: 48px;"/>
        {{/isInstitutionSurf}}
    </div>
    <div class="head">
        {{#environment}}
        <p style="font-weight: bold;padding: 10px;margin:5px 0 15px 0;background-color: #f1f19b;">
            This mail is from the {{environment}} environment
        </p>
        {{/environment}}
        {{#invitation.institutionAdminInvitation}}
        <p>{{displaySenderName}} (from {{institutionName}}) has invited you to become
            an institution admin for institution {{idpName}} to manage the applications of this institution.</p>
        {{/invitation.institutionAdminInvitation}}

        {{#invitation.anyRoles}}

        <p>{{displaySenderName}} (from {{institutionName}}) would you like to grant access to:</p>
        <ul>
            {{#groupedProviders}}
            <li style="margin-bottom: 4px;font-weight: 600;">{{name}} - as {{rolesDisplay}}</li>
            {{/groupedProviders}}
        </ul>
        {{/invitation.anyRoles}}
        {{#message}}
        <div class="head" style="background-color: #DFF4FF;padding: 10px;margin:5px 0 15px 0;">
            <p style="margin: 0;">
                {{{message}}}
            </p>
        </div>
        {{/message}}
        {{#useEduID}}
        <p>You accept the role(s) by logging in with eduID. If you don’t have one yet, you can create it right away.</p>
        <div style="display: flex;">
            <a class="button" href="{{{ url }}}"
               style="border-radius: 4px;color: white;display: flex;background-color: #0077c8;text-decoration: none;cursor:pointer;padding: 8px 20px 8px 10px;">
                {{> eduID-logo-square.svg}}
                <span style="color: white;margin: auto 0 auto 12px;">Continue with eduID</span>
            </a>
        </div>
        <p style="word-break: break-word">or copy this link into your browser: {{{ url }}}</p>
        {{/useEduID}}
        {{^useEduID}}
        <p>You accept the role(s) by logging in with SURFconext.</p>
        <div style="display: flex;">
            <a class="button" href="{{{ url }}}"
               style="border-radius: 4px;color: white;display: flex;background-color: #0077c8;text-decoration: none;cursor:pointer;padding: 8px 20px 8px 10px;">
                <span style="color: white;margin: auto;">Continue</span>
            </a>
        </div>
        <p style="word-break: break-word">or copy this link into your browser: {{{ url }}}</p>
        {{/useEduID}}
    </div>
    <div class="footer"
         style="display:flex;align-items:center;justify-content:space-between;padding: 12px 0;line-height: 24px; color: #5E6873; border-top: 1px solid #888F99;font-size: 14px;">
        <div class="links" style="text-align: left">
            <span>This invitation is sent via</span>
            <a class="external" href="https://support.surfconext.nl/invite"
               style="color: #636363;">SURFconext Invite</a>
            <span> • </span>
            <a class="external" href="https://support.surfconext.nl/privacy"
               style="color: #636363;">Privacy Policy</a>
            <span> • </span>
            <a class="external" href="https://support.surfconext.nl/terms-en"
               style="color: #636363;">Terms of Use</a>
        </div>
        <div class="about" style="text-align: right">
            <a class="external"
               href="https://surf.nl/"
            >{{> logo-surf-black.svg}}</a>
        </div>
    </div>
</div>

</body>
</html>
