<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<div class="main" style="font-family: Helvetica, Arial, sans-serif;line-height: 18px;font-size: 16px;color: #353535;">
    <div class="header" style="background-color: #0077C8;padding:10px 40px;">
        {{> logo-surf.svg}}
        <span style="display: inline-block;color:white;margin-left: 10px;font-size: 18px;">Welkom</span>
    </div>
    <div class="head" style="padding: 30px 40px 20px 40px;">
        {{#environment}}
        <p style="font-weight: bold;margin: 0; padding: 20px 5px; background-color: #f1f19b;">
            Deze mail is van de {{environment}}-omgeving
        </p>
        {{/environment}}
        <p class="title" style="">Hallo,</p>

        {{#invitation.institutionAdminInvitation}}
        <p><strong>{{displaySenderName}}</strong> (van <strong>{{institutionName}}</strong>) heeft je uitgenodigd om
            een instellings-admin te worden van instelling {{idpName}} om de applicaties van deze instelling te beheren.</p>
        {{/invitation.institutionAdminInvitation}}

        {{#invitation.anyRoles}}

        <p><strong>{{displaySenderName}}</strong> (van <strong>{{institutionName}}</strong>) wil je toegang geven tot:</p>
        <ul>
            {{#groupedProviders}}
            <li style="margin-bottom: 4px;"><strong>{{name}}</strong> ({{organisation}}) - als
                <strong>{{rolesDisplay}}</strong></li>
            {{/groupedProviders}}
        </ul>
        {{/invitation.anyRoles}}
        {{#message}}
        <div class="head" style="background-color: #DFF4FF;padding: 20px;margin:5px 0 15px 0;">
            <p style="margin: 0;">
                {{{message}}}
            </p>
        </div>
        {{/message}}
        {{#useEduID}}
        <p>De rol(len) accepteer je door in te loggen met eduID. Als je deze nog niet hebt, kun je hem gelijk aanmaken.</p>
        <div style="display: flex;">
            <a class="button" href="{{{ url }}}"
               style="border-radius: 4px;color: white;display: flex;width: 200px;background-color: #0077c8;text-decoration: none;cursor:pointer;padding: 8px 20px 8px 10px;">
                {{> eduID-logo-square.svg}}
                <span style="color: white;margin: auto 0 auto 12px;">Ga door met eduID</span>
            </a>
        </div>
        <p>of kopieer deze link in je browser: {{{ url }}}</p>
        {{/useEduID}}
        {{^useEduID}}
        <p>De rol(len) accepteer je door in te loggen met SURFconext.</p>
        <div style="display: flex;">
            <a class="button" href="{{{ url }}}"
               style="border-radius: 4px;color: white;display: flex;width: 200px;background-color: #0077c8;text-decoration: none;cursor:pointer;padding: 8px 20px 8px 10px;">
                <span style="color: white;margin: auto;">Ga door</span>
            </a>
        </div>
        <p>of kopieer deze link in je browser: {{{ url }}}</p>
        {{/useEduID}}
    </div>
    {{#useEduID}}
    <div class="eduid-info" style="background-color: #f3f2f2;padding: 20px 40px 20px 40px; color: #9b9b9b">
        <p style="font-size: 18px;margin:20px 0 15px 0;">Waarom heb ik een eduID account nodig?</p>
        <p>
            Een eduID is een account voor gebruikers binnen het Nederlandse onderwijs en onderzoek. Het
            is van jou, en bestaat onafhankelijk van een onderwijsinstelling. Met eduID kan je inloggen op
            verschillende applicaties. Ook als je geen account van je instelling hebt, kan je met eduID inloggen.
            Je kunt eduID bijvoorbeeld gebruiken als je bij meerdere instellingen tegelijk onnderwijs wilt volgen.
            Of na je studie als je naast je werk een opleiding of cursus wilt volgen.
        </p>
        <p style="font-weight: bold;margin: 15px 0 0 0;">
            Aanvragen eduID
        </p>
        <p style="margin: 5px 0 10px 0;">Het aanvragen van een eduID is kosteloos en kan direct. Je hebt alleen een
            e-mailadres nodig.</p>
    </div>
    {{/useEduID}}

    {{> footer_nl.html}}

</div>
</body>
</html>
