<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<div class="main" style="font-family: Helvetica, Arial, sans-serif;line-height: 18px;font-size: 16px;color: #353535;">
    <div class="header" style="background-color: #0077C8;padding:10px 40px;">
        {{> logo-surf.svg}}
        <span style="display: inline-block;color:white;margin-left: 10px;font-size: 18px;">Welcome</span>
    </div>
    <div class="head" style="padding: 30px 40px 20px 40px;">
        {{#environment}}
        <p style="font-weight: bold;margin: 0; padding: 20px 5px; background-color: #f1f19b;">
            This mail is from the {{environment}} environment
        </p>
        {{/environment}}
        <p class="title" style="">Hello,</p>

        {{#invitation.institutionAdminInvitation}}
        <p><strong>{{displaySenderName}}</strong> (from <strong>{{institutionName}}</strong>) has invited you to become
            an institution admin for institution {{idpName}} to manage the applications of this institution.</p>
        {{/invitation.institutionAdminInvitation}}

        {{#invitation.anyRoles}}

        <p><strong>{{displaySenderName}}</strong> (from <strong>{{institutionName}}</strong>) would you like to grant access to:</p>
        <ul>
            {{#groupedProviders}}
            <li style="margin-bottom: 4px;"><strong>{{name}}</strong> ({{organisation}}) - as
                <strong>{{rolesDisplay}}</strong></li>
            {{/groupedProviders}}
        </ul>
        {{/invitation.anyRoles}}
        {{#message}}
        <div class="head" style="background-color: #DFF4FF;padding: 20px;margin:5px 0 15px 0;">
            <p style="margin: 0;">
                {{{message}}}
            </p>
        </div>
        {{/message}}
        {{#useEduID}}
        <p>You accept the role(s) by logging in with eduID. If you don’t have one yet, you can create it right away.</p>
        <div style="display: flex;">
            <a class="button" href="{{{ url }}}"
               style="border-radius: 4px;color: white;display: flex;width: 200px;background-color: #0077c8;text-decoration: none;cursor:pointer;padding: 8px 20px 8px 10px;">
                {{> eduID-logo-square.svg}}
                <span style="color: white;margin: auto 0 auto 12px;">Continue with eduID</span>
            </a>
        </div>
        <p>or copy this link into your browser: {{{ url }}}</p>
        {{/useEduID}}
        {{^useEduID}}
        <p>You accept the role(s) by logging in with SURFconext.</p>
        <div style="display: flex;">
            <a class="button" href="{{{ url }}}"
               style="border-radius: 4px;color: white;display: flex;width: 200px;background-color: #0077c8;text-decoration: none;cursor:pointer;padding: 8px 20px 8px 10px;">
                <span style="color: white;margin: auto;">Continue</span>
            </a>
        </div>
        <p>or copy this link into your browser: {{{ url }}}</p>
        {{/useEduID}}
    </div>
    {{#useEduID}}
    <div class="eduid-info" style="background-color: #f3f2f2;padding: 20px 40px 20px 40px; color: #9b9b9b">
        <p style="font-size: 18px;margin:20px 0 15px 0;">Why do I need an eduID account?</p>
        <p>An eduID is an account for users within the Dutch educational and research community. It is yours and exists
            independent of an educational institution.
            With eduID you can log in to various applications. Even if you don't have an institutional account. You can
            use
            eduID for example
            if you want to follow courses with different institutions. Or if you want to follow a course after you have
            graduated.</p>
        <p style="font-weight: bold;margin: 15px 0 0 0;">
            Request eduID
        </p>
        <p style="margin: 5px 0 10px 0;">Requesting an eduID is free, and you can do it now. All you need is an
            emailaddress.</p>
    </div>
    {{/useEduID}}

    {{> footer_en.html}}

</div>
</body>
</html>
