<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<div class="main" style="font-family: Helvetica, Arial, sans-serif;line-height: 18px;font-size: 14px;color: #353535;">
    <div class="head" style="background-color: #f5f5f5;padding: 30px 0 20px 60px;">
        {{#environment}}
        <p style="font-weight: bold;margin-bottom: 20px">
            This mail is from the {{environment}} environment
        </p>
        {{/environment}}
        <p class="title" style="font-weight: 600;font-size: 38px;line-height: 38px; margin: 0;margin-bottom: 10px;">Your {{role.name}} will expire in {{nbrOfDays}} days.</p>
    </div>
    <div class="middle" style="padding: 20px 0 40px 60px;max-width: 600px;">
        <p>Hi, {{user.name}}</p>
        <p>Your {{authority}} role {{role.name}} at the application {{organisationName}} will expire in
            {{nbrOfDays}} days. If you think this is a mistake you can contact <a href="mailto:{{contactEmail}}">{{contactEmail}}</a> to request
            a renewal of your {{authority}} role.
            <table>
                <thead/>
                <tbody>
                <tr>
                    <td>{{#groupedProviders.logo}}
                        <img src="cid:{{groupedProviders.logoName}}" alt="logo"/>
                        {{/logo}}
                        {{^logo}}
                        <img src="cid:not_found" alt="logo"/>
                        {{/logo}}
                    </td>
                    <td>{{groupedProviders.name}} ({{groupedProviders.organisation}})</td>
                    <td>{{groupedProviders.rolesDisplay}}</td>
                </tr>
                </tbody>
            </table>
        </p>
        <p>If you don't want to renew your role , just ignore or delete this message.</p>
    </div>
    {{> footer_en.html}}
</div>
</body>
</html>
