@import "styles/tooltip";
@import "styles/forms";

$min-width-pixels: 620px;

.sds--toaster{
    min-width: $min-width-pixels;
    margin: 25px 0;
    @media (max-width: 680px) {
        min-width: initial;
    }
}

.sds--card--big {
    min-width: $min-width-pixels;
    @media (max-width: 680px) {
        min-width: initial;
    }
}

