@use "../styles/vars.scss";

.mod-proceed {
    max-width: 570px;
    margin: 0 auto 40px auto;
    width: 100%;

    @media (max-width: 680px) {
        padding: 0 15px;
    }

    p.invite-feedback{
        font-weight: 600;
        padding: 25px;
        background-color: var(--sds--color--blue--100);
        border-radius: 4px;
        word-break: break-word;
        max-width: 620px;
    }

    .proceed-container {
        margin: 0 auto;

        .sds--toaster {
            max-width: initial;
            margin: 25px 0 35px 0;
        }

        p.info {
            margin: 25px 0;
        }

        .step {
            display: flex;
            align-content: center;
            margin-bottom: 25px;

        }

        .step-actions {
            padding-top: 5px;
        }
    }
}