@use "../styles/vars.scss";

.sds--breadcrumb {
    color: black;

    ol.sds--breadcrumb--list {
        min-height: 32px;
        max-width: vars.$max-width;
        margin: 0 auto 0 auto;
        position: relative;
        transition: margin 150ms ease-in-out;
        display: flex;
        align-items: center;
    }

    li svg {
        width: calc(5.47em / 14);
        height: calc(11.25em / 14);
    }

    span.last {
        font-weight: 700;
    }

    .eye-view {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: auto;
        font-weight: bold;

        @media (max-width: vars.$medium) {
            display: none;
        }

        svg {
            width: 32px;
            margin-right: 10px;
        }

        color: var(--sds--color--blue--400);

        svg {
            fill: var(--sds--color--blue--400);
        }

    }
}
