@import "../styles/vars.scss";

.date-field {
    display: flex;
    position: relative;
    flex-direction: column;

    label.date-field-label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: 600;
    }

    span.tool-tip-section {
        font-size: 14px;
        color: var(--sds--color--gray--200);
        cursor: pointer;
        padding: 0 4px;

        &:hover {
            color: var(--sds--color--blue--300);
        }
    }

    label.date-picker-container {
        display: flex;
        width: 240px;
        position: relative;
        border-radius: $br;

        &:focus {
            outline: none;
            box-shadow: 3px 3px 3px var(--sds--color--blue--200), -3px -3px 1px var(--sds--color--blue--200);
        }

        div.calendar-icon svg {
            position: absolute;
            right: 12px;
            top: 12px;
            color: var(--sds--color--blue--500);
            cursor: pointer;
            width: 20px;
            height: auto;
        }
    }

    .react-datepicker-wrapper {
        width: 240px;
    }

    .react-datepicker__input-container {
        width: 100%;

        input[type="text"] {
            display: block;
            width: 100%;
            border-radius: $br;
            border: 1px solid var(--sds--color--gray--400);
            line-height: 33px;
            padding: 16px;
            font-size: 14px;
            height: 48px;

            &:focus {
                outline: none;
                box-shadow: 3px 3px 3px var(--sds--color--blue--200), -3px -3px 1px var(--sds--color--blue--200);
            }

            &[disabled] {
                cursor: not-allowed;
                background-color: $background;
            }
        }

        .react-datepicker__close-icon {
            top: -22px;
            right: -10px;
        }
    }

    .react-datepicker__month {
        min-height: 195px;
    }
}