@use "../styles/vars.scss" as *;

div.email-field {
    display: flex;
    position: relative;
    flex-direction: column;

    label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 0;
        color: black;
        position: relative;
        font-weight: 600;
    }

    .inner-email-field {
        background: white;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid var(--input);
        border-radius: $br;

        &:focus-within {
            outline: none;
            border: 1px solid var(--foreground);
            box-shadow: none;
        }

        &.error {
            border: 1px solid var(--destructive);
        }

    }

    textarea {
        height: 70px;
        border: none;
        flex-grow: 2;
        display: inline-block;
        background-color: transparent;
        margin: 14px 5px 5px 5px;

        &:focus {
            border: none;
            outline: none;
        }
    }

    div.email-tag {
        border: 1px solid var(--border);
        border-radius: $br;
        margin: 10px 5px 0 5px;
        display: inline-block;
        position: relative;
        background-color: var(--muted);
        padding: 4px 26px 4px 10px;
        max-height: 32px;

        span {
            &:first-child {
                word-break: break-all;
            }

            &.icon {
                padding: 8px 14px;
                cursor: pointer;
                color: var(--muted-foreground);
                position: absolute;
                right: -8px;
                top: -8px;

                svg {
                    width: 10px;
                    height: auto;
                }

                &:hover {
                    color: var(--destructive);
                }

                &.disabled {
                    cursor: not-allowed;
                    color: var(--success);
                }
            }
        }
    }

    p.error {
        color: var(--destructive);
        margin-top: 0.5rem;
    }


}
