@use "../styles/vars" as *;

.header-container {
    background-color: white;
    border-bottom: 1px solid var(--border);

    .header-inner {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        max-width: $max-width;
        min-height: 72px;
        padding: 0 40px;

        @media (max-width: $mobile-width) {
            min-height: 64px;
            padding: 0 20px;
        }

        a.logo {
            display: flex;
            align-items: center;
            padding: 8px 0;
            text-decoration: none;

            img {
                height: 40px;
                width: auto;
            }
        }
    }
}
