@use "../styles/vars.scss";

.header-container {
    background-color: var(--sds--color--white);
    color: var(--sds--color--white);
    padding: 5px 0 10px 0;
    height: vars.$nav-height;
    display: flex;
    justify-content: space-around;

    .header-inner {
        transition: margin 150ms ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 vars.$main-content-margin;

        a.logo {
            margin-top: 10px;
            text-decoration: none;
        }

    }

}





