@use "../styles/vars.scss";

.impersonator {
    background-color: var(--warning-subtle);
    display: flex;
    align-items: center;
    padding: 5px 2px 5px 270px;

    svg {
        width: 32px;
        height: auto;
        margin: 4px 15px 0 15px;
        color: var(--warning);
    }

    button {
        margin: 0 25px 0 auto;
    }
}