.input-field {
    gap: 8px;

    .optional {
        margin-left: 4px;
        font-weight: 400;
        color: var(--muted-foreground);
    }

    textarea {
        height: 90px;
        background-color: white;

        &.small {
            height: 51px;
        }

        &.large {
            height: 170px;
        }
    }

    div.inner-input-field {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;

        button {
            min-width: 120px;
            margin-left: 10px;
        }
    }

    div.input-field-link {
        margin-left: 10px;
        display: flex;
        border-radius: 4px;
        border: 1px solid var(--primary);
        font-size: 20px;
        color: var(--primary);
        cursor: pointer;

        &:hover {
            background-color: var(--info-subtle);
        }


        a {
            padding: 8px 12px;
        }

        svg {

            color: var(--primary);
            cursor: pointer;

            &:hover {
                color: var(--primary-strong);
            }

        }
    }


    span.no-input {
        margin-bottom: 6px;
        display: block;

    }

}
