@import "../styles/vars.scss";
@import "../styles/mixins";

.input-field {
    @include input-field;

    display: flex;
    position: relative;
    flex-direction: column;

    textarea {
        display: block;
        width: 100%;
        border: 1px solid var(--sds--color--gray--300);
        padding: 6px 12px;
        border-radius: $br;
        font-size: 16px;
        height: 48px;
        color: black;

        &[disabled] {
            background-color: var(--sds--color--gray--200);
            cursor: not-allowed;
            color: black;
        }

        &.error {
            border: 1px solid var(--sds--color--red--400);
        }

        &:focus {
            outline: none;
            box-shadow: 3px 3px 3px var(--sds--color--blue--200), -3px -3px 1px var(--sds--color--blue--200);
        }

    }

    textarea {
        height: 90px;

        &.large {
            height: 170px;
        }

    }

    span.remove {
        display: flex;
        align-items: center;

        em {
            display: inline-block;
            margin-right: 10px;
        }

        svg.fa-trash {
            margin: 0 5px 0 auto;
            color: var(--sds--color--red--400);
        }
    }

    div.inner-input-field {
        display: flex;

        button.sds--btn {
            min-width: 120px;
            margin-left: 10px;
        }
    }

    div.input-field-link {
        margin-left: 10px;
        display: flex;
        border-radius: 4px;
        border: 1px solid var(--sds--color--blue--400);
        font-size: 20px;
        color: var(--sds--color--blue--200);
        cursor: pointer;

        &:hover {
            background-color: #ddf2fd;
        }


        a {
            padding: 8px 12px;
        }

        svg {

            color: var(--sds--color--blue--200);
            cursor: pointer;

            &:hover {
                color: var(--sds--color--blue--400);
            }

        }
    }


    span.no-input {
        margin-bottom: 6px;
        display: block;

    }
}