@import "../styles/vars.scss";

.minimal-date-field {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;

    .icon svg {
        width: 16px;
        height: auto;
        margin-right: 10px;
        cursor: pointer;
        color: var(--sds--color--gray--500);
        &:hover {
            color: var(--sds--color--black);
        }
    }
    .react-datepicker-wrapper {
        width: auto;
    }
    .react-datepicker__triangle {
        display: none;
    }

    .icon.left {
        margin-left: auto;

    }

    .react-datepicker__month {
        min-height: 195px;
    }
}