@import "../styles/vars";

.card-container {

    button.sds--chips {
        background-color: #FFD700;
    }

    &.inviter-selected .sds--card {
        border-color: var(--sds--color--green--300);
        background-color: var(--sds--color--green--100);
        cursor: pointer;
    }

    &.inviter .sds--card {
        background-color: var(--sds--color--gray--100);
        cursor: pointer;
    }

    &.is-new {
        position: relative;

        .sds--chips {
            position: absolute;
            top: -16px;
            left: -22px;
        }

        @keyframes glow {
            0% {
                box-shadow: 1px 0.13rem 0.13rem 0 #FFD700;
                border: 0.0625rem solid #FFD700;
            }
            50% {
                box-shadow: 1px 0.16rem 0.16rem 0 #eac602;
                border: 0.0625rem solid #eac602;
            }
            100% {
                box-shadow: 1px 0.13rem 0.13rem 0 #FFD700;
                border: 0.0625rem solid #FFD700;
            }
        }

        .sds--card {
            animation: glow 2.5s infinite;
        }

    }

    .user-role {
        display: flex;
        align-items: center;

        @media (max-width: $medium) {
            flex-direction: column;
            align-items: flex-start;
        }

        .sds--checkbox-container {
            margin-right: 25px;
            cursor: pointer;

            input[type=checkbox]:not(:checked) + label {
                cursor: pointer;
                background-color: white;
            }
        }

        img.provider, svg.provider, svg.multi-role {
            height: 90px;
            width: auto;
            margin: 0 35px auto 0;
            border-radius: $br;
            border: 1px solid var(--sds--color--gray--300);
            padding: 16px;

            @media (max-width: $medium) {
                margin: 0 auto 20px 0;
            }
        }

        .launch {
            margin-left: auto;

            button {
                min-width: 140px;
                margin-left: 15px;
            }

            @media (max-width: $medium) {
                margin: 20px auto 0 0;
                button {
                    margin-left: 0;
                }
            }

        }


        .user-role-info {
            h3 {
                margin: 10px 0;
                word-break: break-word;
            }
        }
    }
}