@import "../styles/vars";

.card-container {

    button.sds--chips {
        background-color: #FFD700;
    }

    &.is-new {
        position: relative;

        .sds--chips {
            position: absolute;
            top: -16px;
            left: -22px;
        }

        @keyframes glow {
            0% {
                box-shadow: 1px 0.13rem 0.13rem 0 #FFD700;
                border: 0.0625rem solid #FFD700;
            }
            50% {
                box-shadow: 1px 0.16rem 0.16rem 0 #eac602;
                border: 0.0625rem solid #eac602;
            }
            100% {
                box-shadow: 1px 0.13rem 0.13rem 0 #FFD700;
                border: 0.0625rem solid #FFD700;
            }
        }

        .sds--card {
            animation: glow 2.5s infinite;
        }

    }

    .user-role {
        display: flex;
        align-items: center;

        @media (max-width: 680px) {
            flex-direction: column;
        }

        img, svg {
            height: 56px;
            width: auto;
            margin: 0 35px auto 0;
            border-radius: $br;

            @media (max-width: 680px) {
                margin: 0 auto 20px 0;
            }
        }

        .launch {
            margin-left: auto;

            @media (max-width: 680px) {
                margin: 20px auto 0 0;
            }

        }


        .user-role-info {
            h3 {
                margin: 10px 0;
            }
        }
    }
}