@use "../styles/vars.scss";

.select-field {
    display: flex;
    position: relative;
    flex-direction: column;

    label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: 600;
    }

    .input-select-inner {
        display: block;
        width: 100%;

        &.small {
            width: 240px;
        }

        border: 1px solid var(--sds--color--gray--300);
        border-radius: vars.$br;
        font-size: 16px;
        min-height: 48px;

        &.creatable {
            height: auto;
            min-height: 48px;
        }

        .select-inner__control {
            height: 100%;
            padding-left: 8px;
            border: none;
            border-radius: vars.$br;
        }

        .select-inner__control--is-focused {
            outline: none;
            box-shadow: 3px 3px 3px var(--sds--color--blue--200), -3px -3px 1px var(--sds--color--blue--200);
            border: 1px solid var(--sds--color--gray--300) !important;
        }

        &[disabled] {
            background-color: vars.$background;
            cursor: not-allowed;
        }

    }

    .select-inner__single-value--is-disabled {
        color: black;
    }

    .select-inner--is-disabled {
        cursor: not-allowed;
    }

    .select-inner__control--is-disabled {
        background-color: vars.$background;
        border-radius: 6px;
    }
}