.switch-field {
    display: flex;

    margin-top: 20px;
    padding-bottom: 10px;

    &.no-top-margin {
        margin-top: 0;
    }
    &:not(.last) {
        border-bottom: 1px solid var(--border);
    }

    align-items: center;

    .inner-switch {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .switch-label {
        font-weight: 500;
        position: relative;

    }

    .switch-info {
        color: var(--muted-foreground);
    }

    [data-slot="switch"] {
        margin-left: auto;
    }

}



