.tabs-menu {
    a.tab {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        position: relative;
        border-bottom: 3px solid transparent;

        svg {
            width: 20px;
            height: auto;
        }

        span.notifier {
            display: inline-flex;

            svg {
                width: 16px;
                color: var(--destructive);
            }
        }
    }
}
