@use "../styles/vars.scss";

.tabs-container {
    width: 100%;
    background-color: vars.$background;

    .tabs {
        max-width: vars.$max-width;
        display: flex;
        gap: var(--sds--space--1);

        @media (max-width: vars.$medium) {
            flex-direction: column;
            padding: 0;
        }


    }

}
