@use "../styles/vars";


.unit-header-container {
    background-color: vars.$background;
    padding: 15px vars.$main-content-margin 25px vars.$main-content-margin;

    width: 100%;

    .urn-container {
        display: flex;
        align-items: center;

        span {
            margin-right: 6px;
        }

        .copy-to-clipboard {
            margin-top: 6px;
        }
    }

    .unit-header {
        max-width: vars.$max-width;
        width: 100%;
        display: flex;

        @media (max-width: vars.$medium) {
            flex-direction: column;
        }


        .image {
            display: flex;
            align-items: center;

            svg {
                width: 76px;
                height: auto;
                margin-bottom: auto;

                &.child {
                    color: black;
                    fill: black;
                }
            }

            img {
                max-height: 135px;
                max-width: 135px;
                border-radius: 5px;
                margin-bottom: auto;
            }

            &.small {
                svg {
                    width: 28px;
                    height: auto;
                    color: var(--sds--color--green--300);
                    margin-top: 10px;
                }
            }

            @media (max-width: vars.$medium) {
                display: none;
            }

        }

        .obj-name {
            margin-left: 26px;
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            word-break: break-word;

            span.description {
                margin: 20px 0;

                &.compact {
                    margin: 10px 0;
                }
            }
        }

    }

    .action-menu-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 25px;

        @media (max-width: vars.$medium) {
            margin-top: 20px;
        }

        button {
            width: 100%;
            min-width: 150px;

            &.sds--btn--secondary {
                min-width: 180px;
            }
        }
    }

    .other-options, .sds--user-info--dropdown {
        background-color: vars.$background;
    }

    .sds--menu-button .sds--user-info--dropdown {
        z-index: 99;
    }

}
