@import "../styles/vars";

section.user {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr;
    column-gap: 50px;

    @media (max-width: $medium) {
        grid-template-columns: [first] 1fr;
        padding: 0 15px;
    }
    .span-row {
        grid-column: 1 / -1;

    }
    p.span-row {
        margin-bottom: 25px;
    }
    h3.title {
        margin: 20px 0 10px 0;
    }
    .sds--card {
        margin-bottom: 40px;
    }
    .user-role {

        img {
            height: 56px;
            width: auto;
            margin-right: 35px;
            border-radius: $br;
        }
    }
}