.user-menu {
    z-index: 4;
    color: black;

    button.sds--user-info--button {
        background-color: var(--sds--color--black--navigation);
    }

    .sds--user-info--textual p.name, .sds--user-info--textual p.role {
        color: black;
    }
}
