@use "../styles/vars";


@mixin input-field {
    label {
        display: inline-block;
        min-width: 0;
        color: black;
        position: relative;
        margin: 12px 0 0.5rem;
    }
}

@mixin page {
    width: 100%;

}

@mixin form {
    grid-column-gap: 50px;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr;

    @media (max-width: vars.$medium) {
        padding: 0 15px;
        grid-template-columns: [first] 1fr;
    }

    .input-field, .select-field, .date-field, .error-indication, .checkbox-container {
        grid-column-start: first;
    }

    .input-field, .select-field, .date-field, .checkbox-container {
        margin-top: 20px;

        &.inner-switch {
            margin-top: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid var(--border);
        }
    }

    .user-role .checkbox-container {
        margin-top: 0;
        @media (max-width: vars.$medium) {
            margin-bottom: 20px;
        }
    }

    .actions {
        grid-column-start: first;
        margin-top: 30px;
        padding: 25px 0;
        border-top: 2px solid var(--border);
        display: flex;
        justify-content: flex-end;
        position: relative;

        button:not(:first-child) {
            margin-left: 25px;
        }

        button.delete {
            margin-right: auto;
            margin-left: 0;
        }

        span.error {
            position: absolute;
            top: 72px
        }

    }
    @media (max-width: vars.$medium) {
        grid-template-columns: [first] 1fr;
    }
}
