@use "../styles/vars";

table {

    @media (max-width: vars.$medium) {

        thead {
            display: none;
        }

        tr {
            margin-bottom: 15px;
            display: block;
            border-bottom: 3px solid var(--border);
        }

        td {
            display: flex;
            text-align: right;
            border-bottom: 1px dotted var(--info-subtle);

            padding: 8px 0;

            &:before {
                content: attr(data-label);
                margin-right: auto;
                font-weight: bold;
                font-size: 14px;
                color: black;
            }
        }
    }
}
