:root {
    --rt-color-dark: var(--sds--color--gray--500);
    --rt-color-white: var(--sds--color--white);
    --rt-opacity: 0.98;
}

.styles-module_tooltip__mnnfp {
    visibility: hidden;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 90%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    will-change: opacity, visibility;
}

.styles-module_fixed__7ciUi {
    position: fixed;
}

.styles-module_arrow__K0L3T {
    position: absolute;
    background: inherit;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

.styles-module_noArrow__T8y2L {
    display: none;
}

.styles-module_clickable__Bv9o7 {
    pointer-events: auto;
}

.styles-module_show__2NboJ {
    visibility: visible;
    opacity: var(--rt-opacity);
}

/** Types variant **/
.styles-module_dark__xNqje {
    background: var(--rt-color-dark);
    color: var(--rt-color-white);
}

.styles-module_light__Z6W-X {
    background-color: var(--rt-color-white);
    color: var(--rt-color-dark);
}
