---
# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Yarn Audit client
        run: yarn audit --level high --groups dependencies
        working-directory: client
      - name: Yarn Audit welcome
        run: yarn audit --level high --groups dependencies
        working-directory: welcome
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - name: Set up MySQL
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: '8.0'
      - run: |
          mysql -uroot -h127.0.0.1 -e \
          "CREATE DATABASE access CHARACTER SET utf8mb4 \
          COLLATE utf8mb4_0900_ai_ci;"
      - run: |
          mysql -uroot -h127.0.0.1 -e \
          "CREATE USER 'access'@'localhost' IDENTIFIED BY 'secret';";
      - run: |
          mysql -uroot -h127.0.0.1 -e \
          "GRANT ALL privileges ON access.* TO 'access'@'localhost';"
      - name: Build with Maven
        run: mvn clean install --file pom.xml
      - name: Codecov
        uses: codecov/codecov-action@v1.3.1
